@model TermProject1.Models.Category

@{
    ViewData["Title"] = "Create";
}
<div class="rounded-2 th-bg-darkblue p-2">
    <h1>Create</h1>

    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Create" class="th-btn mt-2 rounded-3" />
                    <input type="reset" value="Reset" class="th-btn-other mt-2 rounded-3" />
                    <button type="button" class="th-btn-other text-center rounded-3 p-1 mt-2" onclick="window.location.href= '/Category/Index'">
                        Back to List
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
