@{
    ViewData["Title"] = "About";
}
<div class="row ">
    <div class="col-sm-4">
        <h2>Our Mission</h2>
      
        <p class="text-info">
            We strive to take beautiful photos. From vast spanding landscapes to close-knit ceremonies, we love to do it all.
        </p>
        
    </div>
    <img src="~/Images/trees.jpg" alt="photography" class="float-right mt-0 img-fluid col-sm-8 rounded" />
   
</div>