@{
    ViewData["Title"] = "About";
}
<div class="row ">
    <div class="col-sm-4">
        <h2>Our Mission</h2>
      
        <p class="text-info">
            Our mission is to provide a platform for people to share their opinions about their favorite (or least favorite) video games
        </p>
        
    </div>
    <div class="col-sm-8 rounded-3">
    <img src="~/Images/elden.jpg" alt="photography" class="float-right img-fluid " />
    </div>
</div>