@{
    ViewData["Title"] = "Contact";
}
<div class="d-flex justify-content-center align-items-center pb-0" style="min-height: 40vh;">
    <div class="transparent-bg-w rounded-3 pb-0" style="display: flex; flex-direction: row; align-items: center;">
        <div class="col-sm-4 text-black ps-2">
            <h2>Contact Information</h2>
            <h4>Visit or call us:</h4>
            <address>
                1111 Front St.<br />
                Traverse City, MI 49694<br />
                <abbr title="Phone"><i class="fa fa-mobile-phone" style="font-size:24px"></i></abbr>
                231.123.1234
            </address>
        </div>
        <div class="col-sm-8 m-0 p-0 pb-0">
            <img src="~/Images/reddead.png" alt="red dead redemption 2" class="img-fluid mb-0" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>