@{
    ViewData["Title"] = "Contact";
}
<div class="row transparent-bg-w rounded-3">
    <div class="col-sm-4 text-black">
        <h2>Contact Information</h2>
        <h4>Visit or call us:</h4>
        <address>
            1111 Front St.<br />
            Traverse City, MI 49694<br />
            <abbr title="Phone"><i class="fa fa-mobile-phone" style="font-size:24px"></i></></abbr>
            231.123.1234
        </address>
    </div>
    <div class="col-sm-8 m-0 p-0">
        <img src="~/Images/reddead.png" alt="red dead redemption 2" class=" mr-0 img-fluid mb-0" />
    </div>
</div>