@{
    ViewData["Title"] = "Contact";
}
<div class="row bg-primary rounded">
    <div class="col-sm-4 text-black">
        <h2>Contact Information</h2>
        <h4>Visit or call us:</h4>
        <address>
            1111 Front St.<br />
            Traverse City, MI 49694<br />
            <abbr title="Phone"><i class="fa fa-mobile-phone" style="font-size:24px"></i></></abbr>
            231.123.1234
        </address>
    </div>
    <img src="~/Images/mountains.jpg" alt="mountains" class="m-0 p-0 float-right rounded img-fluid col-sm-8" />

</div>