@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-4">
        <h1>Welcome</h1>
        <p>All Games is a place to talk about which video games you love and hate, and why!</p>
    </div>
    <div class="col-md-8 mx-0 p-0 float-end">
        <img src="~/Images/dragon.png" alt="photography" class="img-fluid float-right mt-0 img-fluid rounded-3  " style="width:100%;" />
    </div>
</div>

<div class="row">
    
</div>
