@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center text-center" style="min-height: 80vh;">
    <div class=" th-bg-darkblue rounded-15 p-3 mx-0" style="width: 80%;">
        <form method="post" asp-controller="Game" asp-action="IndexWithSearch" class="d-flex align-items-center">
            <h5 class="col-sm-3 mx-0 text-center me-2 th-light">Search Games</h5>
            <div class="input-group">
                <input type="search" class="form-control" name="search" placeholder="Search games for reviews...">
                <div class="input-group-append">
                    <button type="submit" class="th-btn rounded-2" style="width:10vw;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>


    </div>
</div>


