@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4 ">
        <h1>Welcome</h1>
        <p>I'm not sure what my content is going to be, but it will go here.</p>
    </div>
    
    <img src="~/Images/mountains.jpg" alt="photography" class="float-right mt-0 img-fluid col-sm-8 "  />
</div>

<div class="row">
    
</div>