@model TermProject1.Models.AddGameViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add A New Game</h2>


<hr />
<div class="row th-bg-darkblue rounded-2 p-2 overflow-auto" style="height:65vh;">
    <div class="col-md-8 ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Creator" class="control-label"></label>
                <input asp-for="Game.Creator" class="form-control" />
                <span asp-validation-for="Game.Creator" class="text-danger"></span>
            </div>
            <div class="form-group categories-container">
                <label>Game Categories (Select all that apply)</label>
                <div class="checkbox-group mt-5">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="category-item">
                            <input type="checkbox" name="CategoryIds" value="@category.Id" />
                            <label>@category.Name</label>
                        </div>
                    }
                </div>
            </div>




@*             <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" asp-items="ViewBag.CategoryList" class="form-control" multiple>
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>  *@

            <div class="form-group">
                <label asp-for="Game.Year" class="control-label"></label>
                <input asp-for="Game.Year" class="form-control" />
                <span asp-validation-for="Game.Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.IGNRating" class="control-label"></label>
                <input asp-for="Game.IGNRating" type="number" class="form-control" min="0" max="10" step="1" />
                <span asp-validation-for="Game.IGNRating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="th-btn mt-2 rounded-3" /> 
                <input type="reset" value="Reset" class="th-btn-other mt-2 rounded-3" />
                <button type="button" class="th-btn-other text-center rounded-3 p-1 mt-2" onclick="window.location.href= '/Game/Index'">
                    Back to List
                </button>
            </div>
        </form>
    </div>

    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
