/*
    Dark: #131C2D
    Light: #9CAEBC, rgb(190, 213, 255)
    Gold: #E7D51D, #E2BF31
*/
.a-cl, .a-cl:hover {
    width: 200px !important;
    height: 40px !important;
    text-decoration: none !important;
    color: #131C2D !important;
}
.th-scroll {
    overflow:scroll;
}
.th-div-full {
    max-height:70vh; 
    overflow:auto;
}
.th-bg-darkblue {
    background-color: rgba(19, 27, 38, .85);
}
.th-bg-darkbluemenu {
    background-color: rgba(19, 27, 38, .7);
}
.th-light {
    color: rgb(190, 213, 255);
}
.th-gold {
    color: #E2BF31;
}
th-dark {
    color: #131C2D;
}
.th-btn {
    width: 200px;
    height: 40px;
    background-color: #E2BF31;
    color: #131C2D;
    border: 2px solid #E2BF31;
    font-weight: bolder;
}
.th-btn-other {
    width: 200px;
    height: 40px;
    background-color: #131C2D;
    color: #E2BF31;
    border: 2px solid #E2BF31;
    text-decoration: none;
}
button:disabled {
    background-color: dimgrey;
    opacity:.5;
}


.th-btn-other>a:visited, .th-btn-other>a:hover{
    text-decoration:none;
}
.th-btn:hover {
    color: #131C2D;
    border: 2px solid white;
}
.th-btn-other:hover {
    color: white;
    border: 2px solid white;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
a:hover {
    color:white !important;
}
body {
  margin-bottom: 60px;
}
.home {
    background: url(../Images/elden-ring.jpg) no-repeat center top fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.transparent-bg {
    background-color: rgba(64, 64, 64, 0.8); 
}
.transparent-bg-w {
    background-color: rgba(255,255,255, 0.8);
}
.rounded-15{
    border-radius:15px;
}
.categories-container {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1px; 
}

.category-item {
    flex-basis: 50%; /* Each item takes half the available space */
    display: flex;
    align-items: center;
    height: 15px; /* Set the desired height for each checkbox item */
}